<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить посещение</title>
</head>
<body>
    <h1>Добавить новое посещение</h1>
    <form method="post">
        ID: <input type="number" name="visit_id"><br>
        Пациент: <input type="text" name="patient"><br>
        Врач: <input type="text" name="doctor"><br>
        Причина: <input type="text" name="reason"><br>
        Длительность: <input type="number" name="duration"><br>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>